/*********************************************************************************
********************************* BASE SETTINGS **********************************
*********************************************************************************/
    * {
        box-sizing: border-box;
        transition: all .2s ease 0s
    }

    *:hover {transition: all .2s ease 0s}

    a, a:hover, a:visited, a:active {
        color: inherit;
        text-decoration: none
    }

    i {font-style: inherit}

    button {
        /* BOX & BORDER */
            border: none;
            box-shadow: none; 
        /* BOX & BORDER */
        /* COLOR */
            color: inherit;
            background-color: inherit;
        /* COLOR */
        cursor: pointer;
    }

    /* -------------------------- FONTS TO USE ---------------------------- */
    @font-face {
        font-family: "Montserrat";
        src: url(fonts/Montserrat/Montserrat-ExtraLight.ttf) format("ttf");
        font-weight: 200;
        font-style: normal;
    }
    @font-face {
        font-family: "Montserrat";
        src: url(fonts/Montserrat/Montserrat-ExtraLightItalic.ttf) format("ttf");
        font-weight: 200;
        font-style: italic;
    }
    @font-face {
        font-family: "Montserrat";
        src: url(fonts/Montserrat/Montserrat-Regular.ttf) format("ttf");
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: "Montserrat";
        src: url(fonts/Montserrat/Montserrat-Italic.ttf) format("ttf");
        font-weight: normal;
        font-style: italic;
    }
    @font-face {
        font-family: "Montserrat";
        src: url(fonts/Montserrat/Montserrat-Black.ttf) format("ttf");
        font-weight: 900;
        font-style: normal;
    }
    @font-face {
        font-family: "Montserrat";
        src: url(fonts/Montserrat/Montserrat-BlackItalic.ttf) format("ttf");
        font-weight: 900;
        font-style: italic;
    }
    @font-face {
        font-family: "Poppins";
        src: url(fonts/Poppins/Poppins-ExtraLight.ttf) format("ttf");
        font-weight: 200;
        font-style: normal;
    }
    @font-face {
        font-family: "Poppins";
        src: url(fonts/Poppins/Poppins-ExtraLightItalic.ttf) format("ttf");
        font-weight: 200;
        font-style: italic;
    }
    @font-face {
        font-family: "Poppins";
        src: url(fonts/Poppins/Poppins-Regular.ttf) format("ttf");
        font-weight: normal;
        font-style: normal;
    }
    @font-face {
        font-family: "Poppins";
        src: url(fonts/Poppins/Poppins-Italic.ttf) format("ttf");
        font-weight: normal;
        font-style: italic;
    }
    @font-face {
        font-family: "Poppins";
        src: url(fonts/Poppins/Poppins-Black.ttf) format("ttf");
        font-weight: 900;
        font-style: normal;
    }
    @font-face {
        font-family: "Poppins";
        src: url(fonts/Poppins/Poppins-BlackItalic.ttf) format("ttf");
        font-weight: 900;
        font-style: italic;
    }
    /* -------------------------- FONTS TO USE ---------------------------- */
/*********************************************************************************
********************************* BASE SETTINGS **********************************
*********************************************************************************/

html {scroll-behavior: smooth}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1, h2 {font-weight: 900}

h2 {
    font-size: 2.5em;
}

.bold {font-weight: bolder}

/***************************************************
********************** HEADER **********************
***************************************************/
    header {
        color: white;
        background-image: url(../img/bg.jpg)
    }

    .dark-overlay {
        padding-top: 15px; 
        background-color: rgba(0, 0, 0, 0.6)
    }

    /* -------------- NAVIGATION ------------- */
    #navigation {
        font-size: 2em;
        font-weight: bold;
        text-transform: uppercase
    }

    #bar-nav {
        /* FLEX */
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        /* FLEX */
        padding: 10px 0
    }

    #logo, #menu-burger {text-align: center}

    #logo {
        flex: 1 0 200px;
        padding: 10px 0;
    }

    /* .clear {flex: 2} */

    #menu-burger {
        flex: 1 0 100px;    
    }

    #menu-burger i {
        font-size: 60px;
    }

    #cross {display: none}
/* ------------------------------------------- */
    #menu #links {
        flex: 1;
        /* FLEX */
            display: flex;
            flex-direction: column;
        /* FLEX */
        margin: 0;
        padding: 0;
        font-size: 17px;
        font-family: Arial, Helvetica, sans-serif
    }

    #links li {
        flex: 1;
        /* FLEX */
            display: flex;
            justify-content: center
        /* FLEX */
    }

    #links a {
        flex: 1;
        /* TEXT */
            color: #f2f2f2;
            text-align: center;
        /* TEXT */
        padding: 20px 0px;
        background-color: rgba(38, 38, 38, 0.6)
    }

    #links a:hover {
        color: #262626;
        background-color: rgba(242, 242, 242, 0.6)
    }

    .none {display: none}

    .flex {display: flex}

    .sticky {
        top: 0;
        width: 100%;
        color: #262626;
        position: fixed;
        background-color: rgb(242, 242, 242)
    }

    .sticky #links a {
        flex: 1;
        /* TEXT */
            color: #262626;
            text-align: center;
        /* TEXT */
        padding: 20px 0px;
        background-color: rgba(242, 242, 242, 0.6)
    }

    .sticky #links a:hover {
        text-decoration: underline;   
    }

    /* :target {padding-top: 300px} */

    /* --------------- PROFILE --------------- */
    #profile {
        text-align: center;
        padding: 85px 0 125px;
    }
    
    h1 {
        /* FLEX */
            display: flex;
            flex-direction: column;
        /* FLEX */
        font-size: 3em
    }

    h1 .hello {font-size: 2em}

    h1 .presentation {
        font-style: normal;
        font-weight: 200
    }

    #social-networks {
        /* FLEX */
            display: flex;
            justify-content: center;
        /* FLEX */
        padding: 15px;
        margin: 0 auto
    }

    #social-networks .icon {
        /* DIMENSIONS & POSITION */
            min-width: 55px;
            margin: 0 10px;
            padding: 15px 0;
        /* DIMENSIONS & POSITION */
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.6)
    }

    .icon .fab {font-size: 1.4em}
/***************************************************
********************** HEADER **********************
***************************************************/


/***************************************************
********************* ABOUT ME *********************
***************************************************/
    #imgPrincess {
        background-size: 500px;
        background-position: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background-repeat: no-repeat;
        background-image: url(../img/hero.jpg);
        padding-top: 600px;
    }

    #imgPrincess .imgLegend {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #afafaf;
        font-size: 2em;
        font-weight: bold;
        padding: 0 20px;
        background-color: rgba(245, 245, 245, 0.5)
    }

    #qualifications {
        padding: 15px;
    }

    #qualifications h3 {
        margin: -30px 0 0 0;
        font-family: 'Montserrat', sans-serif;
        font-weight: 200;
        letter-spacing: 1px;
        color: #a7a7a7;
    }

    #qualifications p {
        color: #696969;
        font-weight: 400
    }

    #skills-gauges {
        padding: 10px 0 40px;
    }

    .gauge {
        margin: 30px 0;
        border-radius: 10px;
        box-shadow: inset 1px 0 10px #d4d4d4;
        background-color: rgb(245, 245, 245);
    }

    .skill {
        display: flex;
        justify-content: space-between;
        color: white;
        font-weight: bold;
        border-radius: 10px;
        padding: 10px 15px;
        background-color: black
    }

    #webDesign {
        width: 95%;
    }

    #branding {
        width: 80%;
    }

    #development {
        width: 90%;
    }

    #cv {
        padding: 20px 0;
    }

    .button {
        border: 1px solid black;
        border-radius: 7px;
        padding: 15px 30px;
    }

    #download {
        color: white;
        background-color: black;
    }

    @media (min-width: 1050px) {
        #about {
            display: flex;
            justify-content: center;
            padding: 50px 75px;
        }

        #imgPrincess {
            flex: 1
        }

        .imgLegend {
            visibility: hidden;
        }

        #qualifications {
            width: 50%;
        }
    }